password.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="root" type="rootType"/>
  
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="password" type="passwordType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- supongo que las password deben tener 8 caracteres segidos que podran ser digitos, mayusculas o minusculas -->
  <xs:simpleType name="passwordType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{1}|[a-zA-Z]{1}){8}"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
